/* is2-page*/
.is2 {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.is2--logo {
  width: 82%;
  max-width: 350px;
  aspect-ratio: 1;
  top: 12%;
  position: absolute;
}

.is2--logo .logo {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.is2--logo .title {
  position: absolute;
  width: 110%;
  top: 34%;
  left: calc((100% - 110%) / 2);
  max-width: 400px;
  aspect-ratio: 4/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.is2__button {
  position: absolute;
  width: 52%;
  max-width: 250px;
  bottom: 100px;
}

.is2__button button {
  width: 100%;
  height: 45px;
  margin-top: 12px;
  background-color: #00000000;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.is2__button button:hover {
  background-color: #4949494f;
}




/* main */
main {
  min-width: 150px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(right, #4880EC, #019CAD);
}

.is2-item__main {
  width: 100%;
  max-width: 1200px;
  padding: 20px 18px;
  height: 90%;
  overflow: auto;
}

.is2-item__main::-webkit-scrollbar{ width: 4px; }
.is2-item__main::-webkit-scrollbar-thumb{
  height: auto;
  background-color: #3f2e20;
  border-radius: 10px;
}
.is2-item__main::-webkit-scrollbar-track{ background-color: #00000000; }

.grid__header {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
  margin: 34px 0 6px 0;
  color: #fff;
}

.grid__header:first-child {
  margin: 6px 0;
}

.grid-on .is2-item__grid { display: grid; }
.grid-off .is2-item__grid { display: none; }
.is2-item__grid {
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 12px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  width: 70px;
  aspect-ratio: 1;
  /* border: 1px solid #bbb; */
  background-repeat : no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.item-icon:not(.section__item):before {
  background-image: url('https://raw.githubusercontent.com/jsn012/arknights/main/public/img/item-frame.png');
  background-repeat : no-repeat;
  background-size: contain;
  background-position: center;
  width: 102%;
  height: 102%;
  left: -2%;
  top: -2%;
  position: absolute;
  content: '';
  opacity: 0.4;
}

.item-icon a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
}

.item-icon a p {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-shadow: -1px 1px #000, 1px -1px #000, 1px 1px #000, -1px -1px #000;
  top: -11px;
  left: 4px;
  position: absolute;
}

/* detail */
.item__section {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0000009c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-section__inner {
  width: 90%;
  max-width: 800px;
  background-color: #000;
  color: #fff;
  border-radius: 14px;
  border: 1px solid #444;
  position: absolute;
  text-align: center;
  background-repeat : no-repeat;
  background-size: 50%;
  background-position: center;
}

.item-section__inner::before {
  background-image: url('https://raw.githubusercontent.com/jsn012/arknights/main/public/img/item-background.png');
  background-repeat : no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  content: '';
  opacity: .9;
}

.section__item:not(.item-icon) {
  padding: 0 20px;
}

.item-no {
  font-size: 15px;
  font-weight: 700;
  margin: 11px 0 7px 0;
}

.item__section .item-icon {
  width: 75px;
  margin: 7px auto;
  border: none;
}

.item__section .item-name {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 700;
}

.item__section .item-detail {
  margin: 5px 0 12px 0;
  font-size: 14px;
  white-space: pre-wrap;
}

.item-section__close-btn {
  position: fixed;
  top: 12px;
  right: 16px;
  fill: #fff;
}


@media screen and (min-width: 550px) {
  .is2-item__main {
    padding: 0 22px;
  }

  .grid__header {
    font-size: 24px;
    padding: 13px 0;
    margin: 34px 0 4px 0;
  }

  .is2-item__grid { 
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 18px;
    margin-bottom: 60px;
  }

  .item-icon {
    width: 90px;
    transition: all .28s;
  }
  .item-icon:not(.item__section .item-icon):hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  .item-icon a p {
    font-size: 14px;
    top: -14px;
    left: 3px;
  }

  .item-no { font-size: 17px; }
  .item__section .item-icon {
    width: 120px;
    margin: 10px auto;
  }

  .item__section .item-name {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 700;
  }

  .item__section .item-detail {
    margin: 8px 0 16px 0;
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  .grid__header {
    font-size: 28px;
    padding: 14px 0;
    margin: 4px 0;
  }

  .is2-item__grid {
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    margin-bottom: 70px;
  }
  
  /* .item-icon { width: 100px; } */
  .is2-item__grid { gap: 20px; }

  /* .item-icon a p {
    font-size: 14px;
    top: -15px;
    left: 4px;
  } */

  .item__section .item-icon {
    width: 130px;
    margin: 10px auto;
  }

  .item__section .item-name { font-weight: 800; }
  .item__section .item-detail { font-weight: 500; }
}

@media screen and (max-height: 300px) {
  .grid__header { font-size: 14px; }

  .is2-item__grid {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
  
  .item-icon { width: 50px; }
  .is2-item__grid { gap: 10px; }

  .item-icon a p {
    font-size: 5px;
    top: -6px;
    left: 2px;
  }
}
