/* header */
.search {
  padding: 20px 0 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search-bar {
  width: 40vw;
  min-width: 150px;
  height: 25px;
  margin-left: 10px;
}

.search .options {
  width: 80px;
  height: 31px;
}

/* main */
main {
  max-width: 1000px;
  min-width: 150px;
  padding: 20px;
  margin: 0 auto;
}

.is2-item__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 32px 6px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  width: 70px;
  aspect-ratio: 1.5/1;
  border: 1px solid #aaa;
  background-repeat : no-repeat;
  background-size: auto 100%;
  background-position: center;
  position: relative;
}

.item-icon a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
}

.item-icon a p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  top: -33px;
  left: 0px;
  position: absolute;
}

/* detail */
.item__section {
  /* width: 100%;
  height: 70%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eee;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 20px 2px #31313165;
  text-align: center; */
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-section__inner {
  width: 94%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 14px;
  position: absolute;
  text-align: center;
}

.section__item:not(.item-icon) {
  padding: 0 20px;
}

.item-no {
  font-size: 15px;
  font-weight: 600;
  margin: 8px auto;
}

.item__section .item-icon {
  margin: 6px auto;
  border: none;
}

@media screen and (min-width: 550px) {
  .search { padding: 26px 0 12px 0; }
  .search .search-bar { height: 30px; }
  .search .options {
    width: 100px;
    height: 36px;
  }

  main { padding: 30px 50px; }

  .is2-item__grid { 
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 40px 20px;
  }

  .item-icon {
    width: 90px;
    transition: all .25s;
  }
  .item-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  .item-icon a p {
    font-size: 16px;
    top: -36px;
  }
}

@media screen and (min-width: 1000px) {
  main { padding: 40px 80px; }

  .is2-item__grid { grid-template-columns: repeat(auto-fill, minmax(105px, 1fr)); }
  
  .item-icon { width: 105px; }
  .is2-item__grid { gap: 46px 16px; }

  .item-icon a p {
    font-size: 17px;
    top: -38px;
  }
}